<input type="file" (change)="onFileChange($event)" />

<app-camera />

<mat-card>
  <mat-card-content>
    <form [formGroup]="artifactForm" class="form">
      <fieldset class="fields-group">
        <legend>Мета</legend>
        <mat-form-field>
          <mat-label>Сет</mat-label>
          <input matInput type="text" formControlName="set" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            @for (art of filteredSets | async; track art.id) {
              <mat-option [value]="art">{{ art.nameRu }}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Тип артефакта</mat-label>
          <mat-select formControlName="setPartType">
            @for (part of dataService.setParts(); track part) {
              <mat-option [value]="part">{{ part.nameRu }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Главная характеристика</mat-label>
          <mat-select formControlName="mainStat">
            @for (mainStat of partMainStats(); track mainStat) {
              <mat-option [value]="mainStat.nameRu">{{ mainStat.nameRu }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </fieldset>

      <fieldset class="fields-group">
        <legend>Статы</legend>
        <mat-form-field>
          <mat-label>ATK %</mat-label>
          <input matInput type="number" step="0.1" [max]="35" formControlName="atkPercent" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>HP %</mat-label>
          <input matInput type="number" step="0.1" [max]="35" formControlName="hpPercent" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>DEF %</mat-label>
          <input matInput type="number" step="0.1" [max]="43.7" formControlName="defPercent" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Крит. урон %</mat-label>
          <input matInput type="number" step="0.1" [max]="46.6" formControlName="critDmg" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Шанс крита %</mat-label>
          <input matInput type="number" step="0.1" [max]="23.3" formControlName="critRate" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Восст. энергии %</mat-label>
          <input matInput type="number" step="0.1" [max]="38.9" formControlName="energyRecharge" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Мастерство стихий</mat-label>
          <input matInput type="number" step="1" [max]="140" formControlName="elementalMastery" />
        </mat-form-field>
      </fieldset>
    </form>
  </mat-card-content>

  <mat-card-footer class="card-footer">
    <button matButton="outlined" (click)="clear()">Очистить</button>
    <button matButton="filled" (click)="calculate()">Рассчитать</button>
  </mat-card-footer>
</mat-card>

<div class="card table-card">
  <div class="field">
    <label>Поиск</label>
    <input
      type="text"
      placeholder="Имя, оценка или сет"
      [formControl]="searchText"
      (keyup.enter)="search()"
    />
  </div>

  <app-results [results]="displayedResults()" />
</div>
