:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.video {
  object-fit: cover;
  width: 90%;
}

.canvas {
}

.camera-focus-area {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  position: relative;
}

.area {
  /* aspect-ratio: 4 / 7; */
  border: 3px dashed rgb(182, 164, 164);
  border-radius: 10px;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
  /* height: 95%; */
}

.hidden {
  display: none;
}
