<div class="camera-focus-area" [class.hidden]="photoTaken()">
  <video #video class="video" (canplay)="captureFrames()">Video stream not available.</video>

  <div
    #area
    class="area"
    [style.width.px]="videoClientWidth"
    [style.height.px]="videoClientHeight"
  ></div>
</div>

<canvas #canvas class="canvas" [class.hidden]="!photoTaken()"></canvas>

@if (!photoTaken()) {
  <button (click)="takePicture($event)">Capture photo</button>
}

@if (photoTaken()) {
  <button (click)="acceptScreenshot()">Accept</button>
}
